.site-footer__content {
    background-color: #33323D;
    padding-top: 24px;
    padding-bottom: 24px;
}
.site-header-container {
    align-items: center;
    flex-wrap: wrap;
}
.uzur {
    color: white;
}

@media only screen and (max-width: 566px) {
    .site-header-container {
        align-items: center;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 500px) {
.nav-list-footer {
    display: block;
}

    .const {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .footer-logos__list {
        justify-content: center;
    }
    .logo {
        margin-bottom: 40px;
    }
}